html {
  --primary-color: #e4e4e4;

  --background-color: #FDEEDE; /*rgb(196, 196, 196); */
  --background-color-light: #FDEEDE;
  --background-color-dark: #4F2902;

  background-color: var(--background-color);
  font-family: 'Merriweather', serif;

  height: 100%;
}

body {
  min-height: 100%;
  max-width: 100%;
  overflow-y: hidden; /* Disable horizontal scroll */

  margin-left: 500px; /* Same as the width of the sidebar */

  background-color: var(--background-color-light);

  display: grid;
  grid-template-rows: auto 1fr auto;
}


.h1_items {
width: 2em;
max-width: 2em;
}


.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  background-color: lightgreen;
  margin-left: 250px;
  /*border: solid 1px; */
  transition: transform 0.35s ease-out;
}
/* # */
.profile a {
  font-family: 'Merriweather', sans-serif;
}

.rightsidepanel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 600px;
  padding: 10px;
  transition: left 0.35s ease-out;
  /*border: solid 1px;*/
}

.profile {

}
/* on toggle*/
.rightsidepanel.pushed {
  left: -350px;
}

.hide {
  transform:translateX(-350px);
}

#logo img {
  width: 2em;
  margin: 1em 2em 1em;
  border: 0.2em solid black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

/**
 * Header
 **/

body > header {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4F2902;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3em;
}

body > header form {
  display: grid;
  grid-template-columns: auto auto;
}

body > header form input, body > header form a {
  margin: 0.5em;
}

body > header form input[name=username],
body > header form input[name=password]{
  grid-column-end: span 2;
}

body > header a {
  color: var(--primary-color);
  text-decoration: none;
}

/**
 * Main Section
 **/

body > section {
  margin-left: 250px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3em;
  padding: 1em;
}

/**
 * Footer
 **/

body > footer {
  background-color: var(--background-color-dark);

}
