body {
    margin:auto 0;
    padding: 15em 30em;
    background-color: rgb(34, 32, 32);
    background-image:url(images/feup.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}


#login-box {
    background-color: rgb(92, 56, 45);
    opacity: 0.95;
    margin: auto 0;
    border:0.2em solid black;
    padding: 2.5em;
    width: fit-content;
    height: fit-content;
    border-radius: 0.9em;
    position: relative;
    margin-left: 3em;
}
#login-box div {
    margin: auto 0;
    margin: 0.8em 1.5em;
}

#login-box div label {
    font-weight: 800;
}


#login-items {
    margin:auto 0;
}

#login-box div a {
    color: black;
    font-size: 0.8em;
    font-weight: 1000;
}

.button {
    margin: auto 0;

}