#login-box {
    margin-top: 3.5em;
}

#login-box div {
    margin:2em 0;
    width: fit-content;
    height: fit-content;
}

#login-box div label {
    font-weight: 200;
}

#login-box div a {
    color: black;
    font-size: 0.8em;
    font-weight: 1000;
    margin-top:1em;
    padding-top:1em;
}

.button {
    margin: auto 0;

}