html {
    height: 100%;
}

body {
    height: 40em;
    margin:0px;
    padding:0px;
    font-family: "Open Sans", arial;
    background: rgb(255, 192, 167);
    color:white;
    font-weight:300;
}

/*BARRA VERTICAL MENU COM TAMANHO NAO EXPANDIDO*/
.sidemenu {
    background:rgb(143, 87, 68);
    position: fixed;
    top: 0;
    height:100%;
    width:3.5em;
    overflow: hidden;
    transition: width .2s linear;
    z-index: 3;
}

/*TEXTO FICA VISIVEL/MENU EXPANDE QUANDO PASSA O RATO POR CIMA*/
.sidemenu:hover {
    position:absolute;
    width: 20em;
}

.sidemenu li a {
    width: 100em;  /*TAMANHO TOTAL DA BARRA EXPANDIDA*/
    display:table;
    color:#ffffff;
    text-decoration:none;
    font-size: 0.8em;
}

.sidemenu li:hover a {
    background-color:lightsalmon;  /*COR DA SELEÇÃO NO MENU*/
}
    
.sidemenu ul{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

.sidemenu-text  {
    position:relative;
    left: 3.5em;
    top: 1.2em;
}

/*CENAS DO REGISTER, LOGIN, LOGOUT; FICAM NO FUNDO DA BARRA*/
.sidemenu ul.loginout {
    position:absolute;
    bottom:0;
}

/*ICONE + TEXTO DAS CENAS FONT AWESOME QUE ESTÃO NO MENU*/
.fa {
    position: relative;
    display: table-cell;
    height: 2.4em;
    text-align: center;
    top: 0.8em; 
    position:relative;
}
    
/*FW É PARA DEFINIR UM ALINHAMENTO COMUM PARA AS CENAS DA FONT AWESOME*/
.fa-fw {
    left: 1em;
}

/*REGISTER/LOGIN*/
.input-group {
    margin: 0em 0em 0em 30em;
    padding: 0.8em;
}

.form-control {
    margin: 0em 1em 0.8em;
}

.input-group-addon {
    top: 0;
}

/*SIDEPROFILE BAR*/
.sideprofile {
    background:rgb(34, 34, 34);
    opacity: 90%;
    position:fixed;
    display:initial;
    margin: 0;
    left: 3.5em;
    width: 15em;
    height: 100%;
    top: 0;
    z-index: 2;
    flow:right
}

.profilepic {
    width: 7em;
    height:7em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    border: 0.5em black;    
}

.sideprofile ul {
    text-transform: capitalize;
    text-align: center;
}

.sideprofile>li {
    position:relative;
    width: 12em;
    display:table;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
    list-style-type: none;
}

.sideprofile2 {
    background:rgb(66, 172, 80);
    opacity: 90%;
    position:fixed;
    display:initial;
    margin: 0;
    left: 3.5em;
    width: 15em;
    height: 100%;
    top: 0;
    z-index: 2;
    flow:right
}

.sideprofile2 ul {
    text-transform: capitalize;
    text-align: center;
}

.sideprofile2>li {
    position:relative;
    width: 12em;
    display:table;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
    list-style-type: none;
}

.sideprofile3 {
    background:rgb(236, 117, 5);
    opacity: 90%;
    position:fixed;
    display:initial;
    margin: 0;
    left: 3.5em;
    width: 15em;
    height: 100%;
    top: 0;
    z-index: 2;
    flow:right
}

.sideprofile3 ul {
    text-transform: capitalize;
    text-align: center;
}

.sideprofile3>li {
    position:relative;
    width: 12em;
    display:table;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
    list-style-type: none;
}
.username {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 0.8em;
}

.idnumber {
    display:grid;
    position:relative;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    padding-top: 0.8em;
    margin-bottom: 0.8em;
}

.degree-text {
    display:table;
    margin-top: 1em;
    font-size: 1em;
    margin-bottom: 2em;
}

.profile-menu a{
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    display:inline;
}


.profile-menu a .profile-text {
    width:12em; 
    color: white;
    display:table;
    margin-left: -2.5em;
    margin-bottom: 0.5em;
}

.profile-menu>li:hover a .profile-text{
    color: rgb(66, 172, 80);
    background-color: white;
}

.profile-menu a .lastprofile-text {
    width:12em; 
    margin-bottom: 3em;
    color: white;
    display:table;
    margin-top: 1em;  
    margin-left: -2.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.profile-menu>li:hover a .lastprofile-text{
    color: rgb(66, 172, 80);
    background-color: white;
}

.profile-menu li {
    list-style-type: none;
}

.status-text {
    position: relative;
    padding-top:0.3em;
    border: 0.05em solid white;
    border-style: solid none none none;
    font-size: 7em;
    letter-spacing: 0.1em;
    display:table;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    
}
/*
hr.dotted {
    border-top: 5px dotted rgb(255, 255, 255);
    text-decoration: none;
    user-select: none;
} */


/* TEXTABLE SECTION ON BODY */
.textonbody {
    color:white;
    z-index: 100;
    opacity: 100%;
    position: relative;
    left: 22em;
    margin-top:2%;
    margin-bottom:2%;
    padding-left:5%;
    width: 65%;
    height: 100%;
    margin-bottom:2em;
}

.textonbody ul li p {
    color: black;
    text-align: justify;
    text-justify: auto;
}

.textonbody h1 {
    padding-top: 2%;
    color:rgb(143, 87, 68);
    font-size: 2.5em;
    margin-left: 1em;
}

.textonbody h2 {
    padding-top: 2%;
    color:rgb(143, 87, 68);
    font-size: 1.5em;
    text-transform: capitalize;
}
.textonbody h3 {
    color:black;
    font-size: 1em;
}
.textonbody li {
    list-style-type: black;
    margin-bottom:1em;
    color:black;
    margin-left: 1.2em;
}

.textonbody li a {
    color:rgb(143, 87, 68);
}
/* Login area*/

#login-box {
    margin-top: 3.5em;
}

#login-box div {
    margin:2em 0;
    width: fit-content;
    height: fit-content;
}

#login-box div label {
    font-weight: 200;
}

#login-box div a {
    color: black;
    font-size: 0.8em;
    font-weight: 1000;
    margin-top:1em;
    padding-top:1em;
}
