html {
  --primary-color: #e4e4e4;

  --background-color: rgb(196, 196, 196);
  --background-color-light: #eee;
  --background-color-dark: rgb(18, 7, 70);

  background-color: var(--background-color);
  font-family: 'Merriweather', serif;

  height: 100%;
}

body {
  min-height: 100%;
  max-width: 60em;

  margin: 0 auto;
  background-color: var(--background-color-light);

  display: grid;
  grid-template-rows: auto 1fr auto;
}


.h1_items {
width: 2em;
max-width: 2em;
}

#logo img {
  width: 6em;
  margin: 1em 2em 1em;
  border: 0.2em solid black;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

/**
 * Header
 **/

body > verticalheader {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

body > verticalheader {
  .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

body > verticalheader a:hover {
  color: #f1f1f1;
}

body > verticalheader form {
  display: grid;
  grid-template-columns: auto auto;
}

body > header form input, body > header form a {
  margin: 0.5em;
}

body > header form input[name=username],
body > header form input[name=password]{
  grid-column-end: span 2;
}

/**
 * Main Section
 **/

body > section {
  padding: 1em;
}

/**
 * Footer
 **/

body > footer {
  background-color: var(--background-color-dark);

}
